<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Log-out</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Home</a>
              </li>
              
             
            </ul>
          
          </div>
        </div>
      </nav>
</div>

<div class="main " *ngFor="let item of datas">
<img src="../../assets/index.jpeg" alt="" class="p-3">

<div class="details" >
<span>{{item.name}}</span> 
<span>
    {{item.ram}} RAM
</span>
<span>
    Seller: {{item.seller}}
</span>
<span>
    {{item.price}}
</span>
<button class="btn btn-primary m-3" (click)='buy(item.name)'>Buy Now</button>
</div>
<div class="price-details">
PRICE DETAILS
<hr>
Price:{{item.price}}
<br>
Discount:{{item.discount}}
<br>
Delivery Charges :FREE
<hr style="border-style: dotted;">
Totel Amount:{{item.price-item.discount}}
<hr>
you will save {{item.discount}} on this order
</div>
    
<span class="bttn">
  <button class="btn btn-danger" (click)=delete(item.name)> remove </button>
</span>

</div>
