<div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Flipkart</h1>
        <div class="main">
          <form>
            <h3>Register Your Account</h3>
            <div class="mb-3">
              <input
                type="text"
                name="accn"
                class="form-control round"
                #uname
                aria-describedby="emailHelp"
                placeholder="Username"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                name="passw"
                class="form-control round"
                #pswd
                placeholder="Password"
              />
            </div>
  
            <div class="center-button">
              <button type="button " class="signup bg-primary round-button" (click)=register(uname.value,pswd.value) >
                Submit
              </button>
            </div>
            <div class="signup">
                Already have an account:
              <a routerLink="">
                 Login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
